header {
  position: fixed;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1rem;
  /* background-color: #333; */
  z-index: 2000;
  padding: 1rem 2rem;
}

header .logo {
  width: 50px;
  height: 50px;

}

header button {
  position: absolute;
  top: 1rem;
  right: 2rem;
  background-color: white;
  color: black;
  z-index: 3000;
  border-radius: 50%;
  border: none;

  width: 50px;
  height: 50px;
  
  font-size: 1.5rem;

  cursor: pointer;
}