.title {
    font-family: var(--title-font);
    font-size: var(--title-font-size);
    color: var(--primary-color);

    position: sticky;
    top: 4px;

    z-index: 10;

    .icon {
        margin-left: 15px;
        display: inline-block;
    }
}

.title.inverted {
    font-family: var(--title-outline-font);
    mix-blend-mode: difference;
    color: white;
}