.main-container .about-section {
    display: flex;
    flex-direction: column;
  
    background: var(--secondary-color);
    border-radius: 15px;
  
    height: 90vh;
    margin: 2rem 0 0 0;
    padding: 2rem 6rem;

    position: relative;
    overflow: visible;
  }
  
  .about-section .container {
    display: flex;
    gap: 5rem;
    height: 100%;
  }
  
  .about-section .left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
    flex: 2;

    position: relative;
  }
  
  .about-section .left-side .resume {
    text-align: end;
    font-size: 1.8rem;
    display: inline-block;

    overflow: hidden;
  }
  
  .about-section .right-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
  }
  
  .about-section .right-side .description {
    color: darkslategray;
    font-size: 1.2rem;
  }

  .about-section .line-wrapper {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .about-section .line {
    transform: translateY(115px);
    transition: transform 0.5s;
  }

