.hero-section {
    display: flex;
    justify-content: center;
}

.hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-container {
    /* width: 95vw; */
    padding-top: 25rem;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

.hero-description {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5vw;
    font-size: var(--default-font-size);
    font-weight: 500;
}

.hero-title {
    text-align: center;
    font-size: 11vw;
    font-weight: 700;
}

.hero-description,
.hero-title {
    margin: 0;
    line-height: 0.5;
}

.hero-title span {
    font-family: var(--title-font);
    font-weight: 600;
}

.hero-scroll-down {
    margin-top: 5em;
    text-align: center;
}

.description-container .description-approach p {
    font-size: var(--default-font-size);
}