.sunButton {
    background: var(--primary-color);
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 0.1em;

    height: 60px;
    width: 60px;

    border: none;
    border-radius: 10px;

    position: relative;

    box-shadow: 0 20px 25px rgba(255, 0, 0, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.5s;

    overflow: hidden;

    .text {
        visibility: hidden;
        opacity: 0;
        transform: translateX(-40px);

        transition: 0.5s;
    }
}

.sunButton:hover {
    width: 200px;
    transition-delay: 0.3s;

    .text {
        visibility: visible;
        opacity: 1;
        transform: translateX(10px);

        transition: 0.5s;
        transition-delay: 0.5s;
    }
}

.sunButton::before {
    content: '☀';
    position: absolute;

    transition: 0.5s;
}

.sunButton:hover::before {
    transform: translate(150px, 50px);
}

.sunButton::after {
    content: '☀';
    position: absolute;
    top: -30px;
    left: -100px;

    transition: 0.5s;
}

.sunButton:hover::after {
    transform: translate(115px, 35px);
    font-size: 2rem;
    transition-delay: 0.5s;
}