.ladderStep {
    border-bottom: 1px solid gray;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0;
    padding: 5em;

    position: relative;

    cursor: pointer;

    .title {
        font-size: calc(var(--dynamic-font-size) + 2em);
        font-weight: 500;
        color: var(--title-color);

        flex: 3;

        margin-left: calc(var(--dynamic-font-size) + 1em);
        transition: 0.5s ease;
    }

    .description {
        font-size: 1.2rem;
        color: var(--subtitle-color);
        /* background: yellow; */
        flex: 1;

        min-width: 250px;
        transition: 0.5s ease;
    }

    .hoverImage {
        position: absolute;
        width: 350px;
        height: auto;

        border-radius: 15px;

        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
    }

    &:hover {
        .hoverImage {
            opacity: 1;
            pointer-events: all;
        }

        .title,
        .description {
            opacity: 0.5;
        }

        .title {
            transform: translateX(-0.5em);
        }

        .description {
            transform: translateX(0.5em);
        }
    }
}