.circleContainer {
    position: relative;
    margin-bottom: auto;

    .circle {
        box-shadow: 0 60px 50px rgba(0, 0, 0, 0.748);
        position: absolute;
        height: 1550%;
        width: 120%;
        left: -10%;
        border-radius: 0 0 50% 50%;
        background: var(--secondary-color);
        z-index: 5;
    }
}