.menuContainer {
    position: absolute;
    top: -50%;
    left: 50%;

    box-sizing: border-box;
    border-radius: 50%;
    background-color: var(--rich-black-color);
    width: 100vw;
    height: 100vh;
    padding: 1em;

    overflow: auto;

    display: flex;

    transition: top 0.5s ease-in-out, left 0.5s ease-in-out, border-radius 0.5s ease-in-out;

    .leftSide,
    .rightSide {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;

    }

    .leftSide {
        .location {
            margin: 2em 0;
            p {
                margin: 0;
            }
        }
        .socials {
            div {
                a {
                    color: var(--secondary-color);
                    text-decoration: underline;
                }
            }
        }
    }

    .rightSide {
        .link {
            /* background: yellow; */
            color: var(--secondary-color);
            font-size: 8em;
            font-family: var(--title-font);
            text-decoration: none;
            line-height: 1.1;
            transform: scaleY(1.2);
            transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
        }

        .link:hover {
            color: var(--primary-color);
            transform: translateX(0.3em) scaleY(1.2);
        }
    }
}

.visible {
    border-radius: 0;

}