.aboutUsContainer {
    height: 100vh;
    padding: 0 3em;

    .headline {
        font-size: clamp(1.5em, calc(1.5em + 6vw), 8vw);
        line-height: 0.9;
    }

    .subheading {
        display: flex;
        justify-content: space-between;
        gap: 2em;
        margin-top: 2em;

        .yarndingsWrapper {
            position: relative;
            width: fit-content;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;

            .yarndings {
                text-align: center;
                font-family: 'Yarndings 12';
                font-size: 40px;
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                will-change: transform;
                transform-origin: center center;

            }
        }

        .callToAction {
            display: flex;
            gap: 1em;

            .buttonContainer {
                height: 150px;
                /* background: blue; */
                display: flex;
                justify-content: center;
                flex: 1 0 150px;
            }
            .description {
                font-family: "Be Vietnam Pro", sans-serif;
                font-weight: 300;
                flex: 3;
            }
        }
    }
}