.membersContainer {
    height: 100vh;
    padding: 0 3em;

    .title {
        display: block;
        width: 100%;
        text-align: center;
        font-size: clamp(1.5em, calc(1.5em + 6vw), 8vw);
        text-align: center;
    }

    .members {
        background: pink;
    }
}