@font-face {
    font-family: 'Sunmory Outline';
    src: url('/public/fonts/Sunmory-Outline.woff2') format('woff2'),
         url('/public/fonts/Sunmory-Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sunmory Regular';
    src: url('/public/fonts/Sunmory-Regular.woff2') format('woff2'),
         url('/public/fonts/Sunmory-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}