/* + GLOBAL CSS VARIABLES + */
:root {
  --title-font: 'Sunmory Regular', serif;
  --title-outline-font: 'Sunmory Outline', serif;
  --text-font: 'Poppings', sans-serif;
  --primary-color: #CB2E2E;
  --secondary-color: #FFFCF9;
  --tertiary-color: #E0CA3C;
  --rich-black-color: #011627;
  --accent-color: #F1A208;


  --subtitle-color: rgb(63, 63, 63);
  --title-color: black;
  --default-font-size: 1.5em;
  --dynamic-font-size: 2vw;
  --title-font-size: 3rem;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: var(--text-font);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: visible;
  /* background: yellow; */
}

.text-carousel {
  margin-bottom: 10vh;
  align-self: center;
}

.rounded-div-container {
  background: var(--rich-black-color);
  /* background: red; */
  height: 300px;
  width: 100%;

  position: relative;
  top: -100px;

}

.rounded-div {
  background-color: var(--secondary-color);
  /* background: yellow; */
  height: 350px;
  width: 100%;
  border-radius: 0 0 50% 50%;

  position: relative;
  top: -20px;

  box-shadow: 20px 20px 20px 0px rgba(0,0,0,0.75);

}