.hero-section {
    display: flex;
    justify-content: center;
}

.hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-container {
    width: 95vw;
    padding-top: 35rem;
    display: flex;
    flex-direction: column;
    background-color: red;
}

.hero-description {
    display: flex;
    justify-content: space-between;
}

.hero-title {
    text-align: center;
    /* font-family: 'Karla', sans-serif; */
    font-size: 11vw;
    font-weight: 700;
}

.hero-title span {
    font-family: var(--title-font);
}


.hero-scroll-down {
    text-align: center;
}