.loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: red; /* Semi-transparent background */
    z-index: 1000;
    transition: opacity 0.5s ease-out;

    .spinner {
        border: 8px solid rgba(0, 0, 0, 0.1);
        border-left: 8px solid #3498db;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
        margin-bottom: 16px;
    }
    
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* .loading-screen.hidden {
    opacity: 0;
    pointer-events: none;
}

.loading-screen.visible {
    opacity: 1;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-text {
    font-size: 24px;
    font-weight: bold;
    color: #3498db;
} */