
.container {
    font-size: clamp(1.5em, calc(1.5em + 6vw), 10vw);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: var(--secondary-color);
    color: var(--dark-color);

    .elementsContainer {
        padding: 50px;

        .quoteContainer {
            line-height: 0.9;

            .yarndings {
                font-family: 'Yarndings 12';
            }

            .color {
                font-style: italic;
            }
        }

        .xYarndingsTranslationContainer {
            display: flex;
            position: relative;
            background: blue;

            .yarndingsContainer {
                display: inline-block;
                position: absolute;
                will-change: transform;
            }

        }
    }
}