/* .profile.card {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: red;
  border: 5px solid transparent;
  border-radius: 10px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(white, white),
    linear-gradient(90deg, #ff6b6b, #f94d6d, #f9d76e, #43a6e7, #6b8cff);
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.profile.card img {
  position: absolute;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

.profile.card {
  background-color: red;
  margin: 2vh;

  display: flex;
}

.profile.card .right-side {
  display: block;
  flex-direction: column;
  justify-content: center;
  text-wrap: nowrap;

  margin-left: 0.5em;
  padding: 1em;

  width: 0px;
  height: 250px;
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.2s ease, transform 0.5s ease, width 0.5s ease;
}

.profile.card img:hover + .right-side {
  width: 250px;
  opacity: 1;
  transform: translateX(-20px);
  text-wrap: wrap;
}

.profile.card .right-side p.name {
  margin: 0;
  
  font-size: calc(var(--dynamic-font-size) + 1em);
  font-family: var(--title-font);
  font-weight: 800;

  position: relative;
  top: 5px;
  left: -30px;

}

.profile.card .right-side p.title {
  font-size: var(--default-font-size);
  font-family: var(--text-font);
  font-weight: 500;

  margin: 0;
  margin-bottom: 0.5em;
}

.profile.card .right-side .social-icons {
  display: flex;
  flex-wrap: wrap;
}

.profile.card .right-side .social-icons .icon-component {
  width: 25px;
  height: 25px;

  padding: 10px;
  margin: 0.5em;
  
  border-radius: 50%;
  background: black;
}