.memberRoleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 10vw 0 0 0;

    span {
        line-height: 0.9;
        font-family: var(--serif-font);
        font-size: clamp(1.5em, calc(1.5em + 6vw), 8vw);
        font-weight: bold;
    }
}